<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour De L'Unknown Crash Nav</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Font Imports -->

    <!-- Racing Sans One Font -->
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <!-- Rubik Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <!-- Special Elite Font -->
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

    <!-- Materialize Framework Imports -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <style>
        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Rubik', sans-serif;
            font-size: large;
            text-align: center;
            background-color: #222222;
            color: white
        }

        h1 {
            font-family: 'Racing Sans One';
            color: dodgerblue;
            font-size: 7vw;
            white-space: nowrap;
            margin: 0;
            padding: 0;
        }

        h4 {
            font-family: 'Special Elite';
            font-weight: bold;
        }

        h5 {
            font-family: 'Special Elite';
            font-size: xx-large;
        }

        h6 {
            font-family: 'Special Elite';
            font-size: x-large;
        }

        button {
            margin-bottom: 6px;
            /* Adjust the value as needed */
        }

        table {
            border-collapse: collapse;
            width: 95%;
            /* Set a default width for larger screens */
            margin: auto;
            /* Center the table */
        }

        th,
        td {
            border: 2px solid;
            padding: 10px;
            /* Set a default padding */
            text-align: left;
        }

        fieldset {
            border: 2px solid;
            border-radius: 5px;
            padding: 10px;
        }

        #crashNav {
            font-family: 'Racing Sans One';
            color: red;
            font-size: 36pt;
        }

        #eventsCompleted {
            font-family: 'Racing Sans One';
            font-size: 5.5vw;
            white-space: nowrap;
        }

        .btn-text {
            color: white;
            font-size: x-large;
        }

        /* Inside the head tag of your HTML file or in a separate CSS file */

        #scrollToTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            /* Hide the button by default */
            z-index: 9999;
            /* Set a high value */

        }
    </style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script>
        // Inside the head tag of your HTML file or in a separate JavaScript file

        document.addEventListener("DOMContentLoaded", function () {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");

            // Show the button when scrolling down
            window.addEventListener("scroll", function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    scrollToTopBtn.style.display = "block";
                } else {
                    scrollToTopBtn.style.display = "none";
                }
            });

            // Scroll to the top when the button is clicked
            scrollToTopBtn.addEventListener("click", function () {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
            });
        });
    </script>

    <script>
        function navigateToSection(sectionId) {
            var section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }

    </script>
</head>

<body style="font-family: 'Rubik', sans-serif;">
    <h1 style="font-family: 'Racing Sans One'">Tour De L'Unknown Crash Nav</h1>
    <p style="font-family: 'Special Elite'"></p>

    <h2 id="eventsCompleted" style='color: <%= totalCompletedEvents === 148 ? "lime" : "orange" %>'>Events Completed:
        <%=totalCompletedEvents%>/148
    </h2>
    <section class="container center">
        <h4 style='color: <%= completedEventsUSA === 48 ? "lime" : "white" %>'>USA (<%= completedEventsUSA %>/48)</h4>
        <div class="btn-text">
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('Waterfront')"
                style='color: <%= waterfrontCompletedCount === 8 ? "lime" : "white" %>'>Waterfront (<%=
                    waterfrontCompletedCount %>/8)</button>
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('Downtown')"
                style='color: <%= downtownCompletedCount === 8 ? "lime" : "white" %>'>Downtown (<%=
                    downtownCompletedCount %>/8)</button>
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('SilverLake')"
                style='color: <%= silverLakeCompletedCount === 8 ? "lime" : "white" %>'>Silver
                Lake (<%= silverLakeCompletedCount %>/8)</button>
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('LakesideGetaway')"
                style='color: <%= lakesideGetawayCompletedCount === 8 ? "lime" : "white" %>'>Lakeside
                Getaway (<%= lakesideGetawayCompletedCount %>/8)</button>
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('KingsOfTheRoad')"
                style='color: <%= kingsOfTheRoadCompletedCount === 8 ? "lime" : "white" %>'>Kings Of
                The Road (<%= kingsOfTheRoadCompletedCount %>/8)</button>
            <button class="btn waves-effect pink darken-4" onclick="navigateToSection('MountainParkway')"
                style='color: <%= mountainParkwayCompletedCount === 8 ? "lime" : "white" %>'>Mountain
                Parkway (<%= mountainParkwayCompletedCount %>/8)</button>
        </div>
        <h4 style='color: <%= completedEventsEurope === 64 ? "lime" : "white" %>'>Europe (<%= completedEventsEurope %>/64)</h4>
        <div class="btn-text">
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('WinterCity')"
                style='color: <%= winterCityCompletedCount === 8 ? "lime" : "white" %>'>Winter
                City (<%= winterCityCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('Alpine')"
                style='color: <%= alpineCompletedCount === 8 ? "lime" : "white" %>'>Alpine (<%= alpineCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('Riviera')"
                style='color: <%= rivieraCompletedCount === 8 ? "lime" : "white" %>'>Riviera (<%= rivieraCompletedCount
                    %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('Vineyard')"
                style='color: <%= vineyardCompletedCount === 8 ? "lime" : "white" %>'>Vineyard (<%=
                    vineyardCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('FrozenPeak')"
                style='color: <%= frozenPeakCompletedCount === 8 ? "lime" : "white" %>'>Frozen
                Peak (<%= frozenPeakCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('CoastalDream')"
                style='color: <%= coastalDreamCompletedCount === 8 ? "lime" : "white" %>'>Coastal
                Dream (<%= coastalDreamCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('AlpineExpressway')"
                style='color: <%= alpineExpresswayCompletedCount === 8 ? "lime" : "white" %>'>Alpine
                Expressway (<%= alpineExpresswayCompletedCount %>/8)</button>
            <button class="btn waves-effect light-blue darken-4" onclick="navigateToSection('ContinentalRun')"
                style='color: <%= continentalRunCompletedCount === 8 ? "lime" : "white" %>'>
                Continental Run (<%= continentalRunCompletedCount %>/8)</button>
        </div>

        <h4 style='color: <%= completedEventsFarEast === 32 ? "lime" : "white" %>'>Far East (<%= completedEventsFarEast
                %>/32)</h4>

        <div class="btn-text">
            <button class="btn waves-effect green darken-4" onclick="navigateToSection('GoldenCity')"
                style='color: <%= goldenCityCompletedCount === 8 ? "lime" : "white" %>'>Golden
                City (<%= goldenCityCompletedCount %>/8)</button>
            <button class="btn waves-effect green darken-4" onclick="navigateToSection('Dockside')"
                style='color: <%= docksideCompletedCount === 8 ? "lime" : "white" %>'>Dockside (<%=
                    docksideCompletedCount %>/8)</button>
            <button class="btn waves-effect green darken-4" onclick="navigateToSection('IslandParadise')"
                style='color: <%= islandParadiseCompletedCount === 8 ? "lime" : "white" %>'>Island
                Paradise (<%= islandParadiseCompletedCount %>/8)</button>
            <button class="btn waves-effect green darken-4" onclick="navigateToSection('TropicalDrive')"
                style='color: <%= tropicalDriveCompletedCount === 8 ? "lime" : "white" %>'>Tropical
                Drive (<%= tropicalDriveCompletedCount %>/8)</button>
        </div>

        <br>
        <hr>
        <br>
        <p class="btn-text"><button class="btn-large waves-effect purple" onclick="navigateToSection('GPs')"
                style='color: <%= completedEventsCountGps === 4 ? "lime" : "white" %>'><b>Grand Prix
                    Events (<%= completedEventsCountGps %>/4)</b></button></p>

    </section>
    <br>
    <hr>

    <h4 style='color: <%= completedEventsUSA === 48 ? "lime" : "white" %>'>USA (<%= completedEventsUSA %>/48)</h4>
    <fieldset id="Waterfront">
        <h5 style='color: <%= waterfrontCompletedCount === 8 ? "lime" : "white" %>'>Waterfront (<%=
                waterfrontCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Waterfront' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <fieldset id="Downtown">
        <h5 style='color: <%= downtownCompletedCount === 8 ? "lime" : "white" %>'>Downtown (<%= downtownCompletedCount
                %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Downtown' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <fieldset id="SilverLake">
        <h5 style='color: <%= silverLakeCompletedCount === 8 ? "lime" : "white" %>'>Silver Lake (<%=
                silverLakeCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Silver Lake' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <fieldset id="LakesideGetaway">
        <h5 style='color: <%= lakesideGetawayCompletedCount === 8 ? "lime" : "white" %>'>Lakeside Getaway (<%=
                lakesideGetawayCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Lakeside Getaway' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <fieldset id="KingsOfTheRoad">
        <h5 style='color: <%= kingsOfTheRoadCompletedCount === 8 ? "lime" : "white" %>'>Kings of the Road (<%=
                kingsOfTheRoadCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Kings of the Road' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="MountainParkway">
        <h5 style='color: <%= mountainParkwayCompletedCount === 8 ? "lime" : "white" %>'>Mountain Parkway (<%=
                mountainParkwayCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Mountain Parkway' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <h4 style='color: <%= completedEventsEurope === 64 ? "lime" : "white" %>'>Europe (<%= completedEventsEurope %>/64)
    </h4>

    <fieldset id="WinterCity">
        <h5 style='color: <%= winterCityCompletedCount === 8 ? "lime" : "white" %>'>Winter City (<%=
                winterCityCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Winter City' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="Alpine">
        <h5 style='color: <%= alpineCompletedCount === 8 ? "lime" : "white" %>'>Alpine (<%= alpineCompletedCount %>/8)
        </h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Alpine' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="Riviera">
        <h5 style='color: <%= rivieraCompletedCount === 8 ? "lime" : "white" %>'>Riviera (<%= rivieraCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Riviera' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="Vineyard">
        <h5 style='color: <%= vineyardCompletedCount === 8 ? "lime" : "white" %>'>Vineyard (<%= vineyardCompletedCount
                %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Vineyard' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="FrozenPeak">
        <h5 style='color: <%= frozenPeakCompletedCount === 8 ? "lime" : "white" %>'>Frozen Peak (<%=
                frozenPeakCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Frozen Peak' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="CoastalDream">
        <h5 style='color: <%= coastalDreamCompletedCount === 8 ? "lime" : "white" %>'>Coastal Dream (<%=
                coastalDreamCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Coastal Dream' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="AlpineExpressway">
        <h5 style='color: <%= alpineExpresswayCompletedCount === 8 ? "lime" : "white" %>'>Alpine Expressway (<%=
                alpineExpresswayCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Alpine Expressway' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="ContinentalRun">
        <h5 style='color: <%= continentalRunCompletedCount === 8 ? "lime" : "white" %>'>Continental Run (<%=
                continentalRunCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Continental Run' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <h4 style='color: <%= completedEventsFarEast === 32 ? "lime" : "white" %>'>Far East (<%= completedEventsFarEast %>/32)</h4>

    <fieldset id="GoldenCity">
        <h5 style='color: <%= goldenCityCompletedCount === 8 ? "lime" : "white" %>'>Golden City (<%=
                goldenCityCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Golden City' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="Dockside">
        <h5 style='color: <%= docksideCompletedCount === 8 ? "lime" : "white" %>'>Dockside (<%= docksideCompletedCount
                %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Dockside' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="IslandParadise">
        <h5 style='color: <%= islandParadiseCompletedCount === 8 ? "lime" : "white" %>'>Island Paradise (<%=
                islandParadiseCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Island Paradise' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>
    <fieldset id="TropicalDrive">
        <h5 style='color: <%= tropicalDriveCompletedCount === 8 ? "lime" : "white" %>'>Tropical Drive (<%=
                tropicalDriveCompletedCount %>/8)</h5>
        <% eventsData.sort((a, b)=> a.Direction.localeCompare(b.Direction)); %>
            <% eventsData.forEach((event, index)=> { %>
                <% if (event.Track==='Tropical Drive' ) { %>
                    <fieldset>
                        <h6 style='color: <%= event.Completed === "Yes" ? "lime" : "white" %>'>
                            <%= event.Name %>
                        </h6>
                        <table border="1">
                            <tr>
                                <th>Type</th>
                                <td>
                                    <%= event.Type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Cheat Configs</th>
                                <td>
                                    <ul>
                                        <% for (let i=0; i < event.CheatConfig.length; i++) { %>
                                            <li>
                                                <%= event.CheatConfig[i] %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>
                                    <%= event.Direction %>
                                </td>
                            </tr>
                            <tr>
                                <th>Number of Laps</th>
                                <td>
                                    <%= event.LapNumber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Rival Vehicles</th>
                                <td>
                                    <%= event.RivalVehicles %>
                                </td>
                            </tr>
                            <tr>
                                <th>Your Vehicle</th>
                                <td>
                                    <%= event.YourVehicle %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="color:gold">Win Condition</div>
                                </th>
                                <td>
                                    <div style="color:gold">
                                        <%= event.WinCondition %>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                    </div>
                                </th>
                                <td>
                                    <div style='color: <%= event.Completed === "Yes" ? "lime" : "orange" %>'>
                                        <%= event.Completed %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Buttons for marking as complete or incomplete -->
                        <p><br>
                        <form action="/mark-complete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As
                                Complete</button>
                        </form>

                        <form action="/mark-incomplete" method="post" style="display: inline;">
                            <input type="hidden" name="eventID" value="<%= event.id %>">
                            <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As
                                Incomplete</button>
                        </form>
                        </p>
                        <br>
                    </fieldset>
                    <% } %>
                        <% }); %>
    </fieldset>

    <br>
    <hr id="GPs">
    <h4 style='color: <%= completedEventsCountGps === 4 ? "lime" : "white" %>'>Grand Prix Events (<%= completedEventsCountGps %>/4)
    </h4>
    <% for (let i=0; i < gpsData.length; i++) { %>
        <fieldset>
            <h6 style='color: <%= gpsData[i].Completed === "Yes" ? "lime" : "white" %>'>
                <%= gpsData[i].Name %>
            </h6>
            <table>
                <tbody>
                    <tr>
                        <td><b>Tracks & Directions</b></td>
                        <td>
                            <% for (let j=1; j <=8; j++) { %>
                                <%= j %>. <%= gpsData[i].TracksAndDirections[j - 1] %> <br>
                                        <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Cheat Configs</b></td>
                        <td>
                            <ul>
                                <% for (let j=0; j < gpsData[i].CheatConfig.length; j++) { %>
                                    <li>
                                        <%= gpsData[i].CheatConfig[j] %>
                                    </li>
                                    <% } %>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Lap Number</b></td>
                        <td>
                            <%= gpsData[i].LapNumber %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Rival Vehicles</b></td>
                        <td>
                            <%= gpsData[i].RivalVehicles %>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Your Vehicle</b></td>
                        <td>
                            <%= gpsData[i].YourVehicle %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                <div style="color:gold">Win Condition</div>
                            </b>
                        </td>
                        <td>
                            <div style="color:gold">
                                <%= gpsData[i].WinCondition %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><b>
                                <div style='color: <%= gpsData[i].Completed === "Yes" ? "lime" : "orange" %>'>Completed?
                                </div>
                            </b></td>
                        <td>
                            <div style='color: <%= gpsData[i].Completed === "Yes" ? "lime" : "orange" %>'>
                                <%= gpsData[i].Completed %>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><br>
            <form id="completeForm_<%= gpsData[i].id %>" action="/mark-complete" method="post" style="display: inline;">
                <input type="hidden" name="eventID" value="<%= gpsData[i].id %>">
                <input type="hidden" name="isGP" value="Yes">
                <button class="btn-text btn waves-effect green darken-2" type="submit">Mark As Complete</button>
            </form>
            <form id="incompleteForm_<%= gpsData[i].id %>" action="/mark-incomplete" method="post"
                style="display: inline;">
                <input type="hidden" name="eventID" value="<%= gpsData[i].id %>">
                <input type="hidden" name="isGP" value="Yes">
                <button class="btn-text btn waves-effect deep-orange darken-4" type="submit">Mark As Incomplete</button>
            </form>
            </p>
            <br>
        </fieldset>
        <% } %>

            <!---->

            <button id="scrollToTopBtn" style="color:black;font-size: 52pt;"></button>
</body>

</html>